*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.visor{
    position:fixed;
    width:100px;
    height:100px;
    top:10px;
    right:10px;
    background:rgba(255,255,255,0.3);
    border-radius:20px;
    font-family:verdana;
    font-size:40px;
    text-align:center;
    line-height: 100px;
    color:#ffffff;
    text-shadow:0 0 10px rgba(0,0,0,0.9);
    z-index:10;
}

.ctn-main{
    position:relative;
    width:100%;
    height:100%;
    background: url('../fondo.png') center; 
    background-size: cover;
    overflow:hidden;
}
.ctn-sounds{
    position:absolute;
    top:10px;
    left:10px;
    width:400px;
    height:100px;
    display: none;
}

.player{
    position:absolute;
    top:0;
    left: 0;
    width:60px;
    height:60px;
    padding: 10px;
    background:url('../caz.png');
    background-position: center ;
    background-repeat: no-repeat;
    background-size: contain;
}

.bomb{
    position:absolute;
    width:10px;
    height:10px;
    background: #0CFF07;
    border-radius:50%;
}
.enemy{
    position:absolute;
    width:150px;
    height:150px;
    padding: 10px;
    background: url('../pato1.png');
    background-position: center; 
    background-size: contain;
    background-repeat: no-repeat;
}
